<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button>
         <img src="../../../assets/imgs/logo.png" alt="" class="head-logo">
      </ion-button>
    </ion-buttons>
    <ion-title class="ion-text-left">GesinJob</ion-title>
  </ion-toolbar>
  <!--<ion-toolbar> -->
   <!-- <ion-searchbar cancelButtonText="" showCancelButton="never" placeholder="" inputmode="text" type="text" (ionChange)="onSearchChange($event.detail.value)" [debounce]="250" showCancelButton="always"></ion-searchbar> -->
  <!-- </ion-toolbar>-->
</ion-header>

<ion-content>
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <div class="div-content" *ngIf="!error && !loader">
       <div class="post-card" *ngFor="let post of posts; index as i;">
         <div class="head-card" (click)="onShowProfile(post.uid)">
           <img [src]="post.photoURL ? post.photoURL : '../../../assets/imgs/user.png'" alt="" class="user-photo">
           <div class="head-text">
            <p class="user-name">{{ post.displayName | titlecase }}</p>
           </div>
         </div>
         <div *ngIf="post.content" class="text-card">
          <span *ngIf="post.longText"> {{  getShortText(post.content) }}
            <ion-icon  *ngIf="checkLengthText(post.content)" (click)=" onChangeLong(i)" color="primary" name="chevron-down-outline"></ion-icon>
          </span>
          <span *ngIf="!post.longText">{{ post.content }}
            <ion-icon *ngIf="checkLengthText(post.content)" (click)="onChangeLong(i)" color="primary" name="chevron-up-outline"></ion-icon>
          </span> 
         </div>
         <ng-container *ngIf="post.medias.media1">
            <div class="image-card" *ngIf="!post.medias.media2 && !post.medias.media3 && !post.medias.media4 && !post.medias.media5" (click)="onShowPicture(post.medias.media1)">
              <img src="{{ post.medias.media1 }}" alt="" class="post-img">
            </div>
        </ng-container>
        <ion-slides pager="true" [options]="slideOpts" *ngIf="post.medias.media2 || post.medias.media3 || post.medias.media4 || post.medias.media5" >
          <ion-slide *ngIf="post.medias.media1"  (click)="onShowPicture(post.medias.media1)">
           <img src="{{ post.medias.media1 }}" alt="" class="post-img">
          </ion-slide>
          <ion-slide *ngIf="post.medias.media2"  (click)="onShowPicture(post.medias.media2)">
           <img src="{{ post.medias.media2 }}" alt="" class="post-img">
          </ion-slide>
          <ion-slide *ngIf="post.medias.media3"  (click)="onShowPicture(post.medias.media3)">
           <img src="{{ post.medias.media3 }}" alt="" class="post-img">
          </ion-slide>
          <ion-slide *ngIf="post.medias.media4"  (click)="onShowPicture(post.medias.media4)">
           <img src="{{ post.medias.media4 }}" alt="" class="post-img">
          </ion-slide>
          <ion-slide *ngIf="post.medias.media5"  (click)="onShowPicture(post.medias.media5)">
           <img src="{{ post.medias.media5 }}" alt="" class="post-img">
          </ion-slide>
        </ion-slides>
         <div class="icons-card">
           <div class="save-icon" *ngIf="!checkSave(i)"><ion-icon (click)="onAddSave(i)" size="large" name="bookmark-outline"></ion-icon><span class="like-text">{{ onGetLength(post.saves) }}</span></div>
           <div class="save-icon" *ngIf="checkSave(i)"><ion-icon size="large" color="danger" (click)="onRemoveSave(i)" name="bookmark"></ion-icon><span class="like-text">{{ onGetLength(post.saves) }}</span></div>
           <div class="comment-icon" (click)="onShow(i)"><ion-icon size="large" (click)="onShow(i)" name="chatbubbles-sharp"></ion-icon><span class="comment-text">{{ onGetLength(post.comments) }}</span></div>
           <div class="like-icon" *ngIf="!checkLike(i)"><ion-icon (click)="onAddLike(i)" size="large" name="heart-outline"></ion-icon><span class="like-text">{{ onGetLength(post.likes) }}</span></div>
           <div class="like-icon" *ngIf="checkLike(i)"><ion-icon size="large" color="danger" (click)="onRemoveLike(i)" name="heart"></ion-icon><span class="like-text">{{ onGetLength(post.likes) }}</span></div>
           <div class="suite-icon" ><ion-icon size="large"  (click)="onShow(i)" name="chevron-down-sharp"></ion-icon></div>
           <br>
           <br>
           <br>
         </div>
       </div>
  </div>
  <div class="div-content" *ngIf="!error && loader">
    <div class="post-card" *ngFor="let post of dataLoader">
      <div class="head-card" (click)="onShowProfile(post.uid)">
        <img src="../../../assets/imgs/user.png" alt="" class="user-photo">
        <div class="head-text">
          <p class="user-name"><ion-skeleton-text animated style="width: 60%"></ion-skeleton-text></p>
        </div>
      </div>
      <div class="text-card">
        <ion-skeleton-text animated style="width: 90%"></ion-skeleton-text>
        <ion-skeleton-text animated style="width: 90%"></ion-skeleton-text>
        <ion-skeleton-text animated style="width: 90%"></ion-skeleton-text>
        <ion-skeleton-text animated style="width: 90%"></ion-skeleton-text>
        <ion-skeleton-text animated style="width: 90%"></ion-skeleton-text>
        <ion-skeleton-text animated style="width: 90%"></ion-skeleton-text>
        <ion-skeleton-text animated style="width: 90%"></ion-skeleton-text>
       </div>
      <div class="icons-card">
        <ion-row>
          <ion-col size="2"><ion-skeleton-text animated style="width: 95%"></ion-skeleton-text></ion-col>
          <ion-col size="2"><ion-skeleton-text animated style="width: 95%"></ion-skeleton-text></ion-col>
          <ion-col size="2"><ion-skeleton-text animated style="width: 95%"></ion-skeleton-text></ion-col>
          <ion-col size="6"></ion-col>
        </ion-row>
       </div>
    </div>
</div>
<div class="div-content" *ngIf="error">
    <p class="error">
      {{ error }}
    </p>
</div>
  <ion-infinite-scroll threshold="100px" (ionInfinite)="loadData($event)">
    <ion-infinite-scroll-content
      loadingSpinner="bubbles">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>

<ion-footer>
  <app-tab></app-tab>
</ion-footer>
