ion-content{
    --background: #fff url('../../../assets/imgs/bg1.jpg') no-repeat center center / cover;
}
ion-toolbar {
  --background: none;
}
.logo{
    height: 60px;
    display: flex;
    margin: 0 auto;
}

.register{
    margin: 0;
    text-align: center;
    font-size: 18px;
    padding-top: 14px;
    color: rgb(43, 43, 43);
}

form{
    background: #fff;
    padding: 25px;
    max-width: 450px;
    margin: 0 auto;
}

.google{
    text-align: center;
    // color: gray;
    font-weight: 500;
    font-size: 15px;
    margin-top: -10px;
    color: rgb(43, 43, 43);
}

.logo-google{
    height: 40px;
    display: flex;
    justify-content: center;
    margin-top: 15px;
    img{
        height: 50px;
        margin-top: 5px;
    }
}
.visitor{
    text-decoration: none;
    display: flex;
    margin: 0 auto;
    justify-content: center;
}

.login{
    text-align: center;
    color: rgb(43, 43, 43);
    a{
        text-decoration: none;
    }
}

.terms{
    text-align: center;
    font-size: 0.8rem;
    color: rgb(43, 43, 43);
}

ion-item{
    --border-radius: 30px;
}