ion-content{
    --background:  rgb(255, 117, 117);
}
.text{
    margin: 0 auto;
    max-width: 450px;
    text-align: center;
    font-size: 25px;
    margin-top: 20%;
    color: white;
    .apos{
        margin: 0;
        margin-left: 60px;
        font-size: 80px;
        font-weight: bold;
        text-align: left;
    }
}

@media (min-width: 900px) {
    .text{
      margin-top: 10%;
    }
}